* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  list-style: none;
  width: max-content;
  margin: 1rem;
}

.contenedor {
  padding: 1rem;
}

.carta {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  width: 28rem;
}

.carta img {
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.carta h2 {
  margin: 0.5rem auto 0;
  text-align: center;
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
}
